body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .heeee {
    background-color: red;
    width: 300px;
    height: 300px;
    position: fixed;
    top: 50%;
    right: -310px; /* Başlangıçta dışarıda */
    transform: translateY(-50%);
    transition: right 0.5s ease, box-shadow 0.5s ease; /* box-shadow için geçiş ekledik */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Gölgelendirme ekledik */
  }
  
  .heeee.active {
    right: 100px; /* Ekranda görünür */
    box-shadow: 0 0 25px rgba(179, 255, 0, 0.7); /* Gölgeyi daha belirgin yapalım */
  }
  