/* Genel Stil */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.grid-container > .header,
.grid-container > .menu,
.grid-container > .main,
.grid-container > .right,
.grid-container > .footer {
  padding: 15px;
  font-size: 16px;
}
.grid-container {
  display: grid;
  grid-template-areas:
  "header header header"
  "menu main right"
  "footer footer footer";
  grid-template-columns: 1fr 2fr 1fr; /* 3 sütun düzeni */
  grid-template-rows: auto 1fr auto; /* Üst, orta ve alt satırlar */
  gap: 5px; /* Hücreler arasındaki boşluk */
  background: linear-gradient(to right, rgb(0, 47, 202), rgb(255, 0, 0));
  height: 100vh; /* Yüksekliği ekranın tamamı kadar yap */
}

.grid-container > .header,
.grid-container > .menu,
.grid-container > .main,
.grid-container > .right,
.grid-container > .footer {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 15px; /* Daha uygun padding */
  font-size: 20px; /* Font boyutunu biraz küçültüyoruz */
}

/* Header */
.header {
  grid-area: header;
}

/* Menu */
.menu {
  grid-area: menu;
}

/* Main */
.main {
  grid-area: main;
}

/* Right */
.right {
  grid-area: right;
}

/* Footer */
.footer {
  grid-area: footer;
}
.main {
  background: linear-gradient(to right, rgb(248, 0, 0), rgb(0, 47, 202));
  overflow-y: auto; /* Yalnızca dikey kaydırma çubuğu göster */
}

/* Webkit kaydırma çubuğu özelleştirmeleri */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


p {
  color: burlywood;
  font-size: large;
  position: relative;
}
input {
  border-radius: 10px 10px 10px 10px;
  border: 3px a;
  background: linear-gradient(to right, brown, rgb(255, 0, 0));
  color: burlywood;
  outline: 0;
}
button {
  background-color: #7c0707;
  border-color: darkred;
  border-radius: 10px 3px 5px;
  font-size: medium;
  color: burlywood;
}
button:hover {
  background: linear-gradient(to right, brown, rgb(255, 0, 0));
  color: rgb(172, 134, 84);
}
@keyframes button {
}

/* Kart */
.kart_class {
  background-color: rgb(253, 0, 0);
  width: 225px;
  height: 150px;
  float: left;
  z-index: 3;
  border: 5px solid burlywood;
  display: flex;
}
.kutular {
  grid-template-areas: "kutular kutular kutular";
  grid-template-columns: 11fr;
  margin: 5px;
}
.grid-container > .kutular {
  padding: 15px;
  font-size: 15px;
}
