/* Genel Stil */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
p {
  color: burlywood;
  font-size: large;
  position: relative;
}
input {
  border-radius: 10px 10px 10px 10px;
  border: 3px a;
  background: linear-gradient(to right, brown, rgb(255, 0, 0));
  color: burlywood;
  outline: 0;
}
button {
  background-color: #7c0707;
  border-color: darkred;
  border-radius: 10px 3px 5px;
  font-size: medium;
  color: burlywood;
}
button:hover {
  background: linear-gradient(to right, brown, rgb(255, 0, 0));
  color: rgb(172, 134, 84);
}
@keyframes button {
  /* doldurulcak */
}
.grid-container > .header,
.grid-container > .menu,
.grid-container > .main,
.grid-container > .right,
.grid-container > .footer {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  font-size: 16px;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-areas:
  "header header header"
  "menu main right"
  "footer footer footer";
  grid-template-columns: 1fr 2fr 1fr; /* 3 sütun düzeni */
  grid-template-rows: auto 1fr auto; /* Üst, orta ve alt satırlar */
  gap: 5px; /* Hücreler arasındaki boşluk */
  background: linear-gradient(to right, rgb(0, 47, 202), rgb(255, 0, 0));
  height: 100vh; /* Yüksekliği ekranın tamamı kadar yap */
}

/* Header */
.header {
  grid-area: header;
}

/* Menu */
.menu {
  grid-area: menu;
}

/* Main */
.main {
  grid-area: main;
}

/* Right */
.right {
  grid-area: right;
}

/* Footer */
.footer {
  grid-area: footer;
}
.main {
  background: linear-gradient(to right, rgb(248, 0, 0), rgb(0, 47, 202));
}

/* Webkit kaydırma çubuğu özelleştirmeleri */
.kutular::-webkit-scrollbar {
  width: 6px;
}
/* Track */
.kutular::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.kutular::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.kutular::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Kart */
.kutular {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Kutu aralarındaki boşluk */
}

.kart_class {
  background-color: rgb(253, 0, 0);
  width: 198px; /* Kutu genişliği */
  height: 150px;
  border: 5px solid burlywood;
  display: flex;
  flex-direction: column; /* İçeriklerin dikey sıraya göre hizalanmasını sağlar */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.kart_class p {
  margin: 5px 0; /* Paragraflar arasındaki boşluk */
}



