.grid-Kutu > .top,
.grid-Kutu > .mid,
.grid-Kutu > .bot {
  padding: 12px;
  font-size: 16px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.986);
  color: red;
}
body {
  background-color: brown;
}
.grid-Kutu {
  display: grid;
  grid-template-areas:
    "top top top"
    "mid mid mid"
    "bot bot bot";
  grid-template-rows: auto 3fr auto; /* Üst, orta ve alt satırlar */
  gap: 15px; /* Hücreler arasındaki boşluk */
  height: 100vh; /* Yüksekliği ekranın tamamı kadar yap */
  img {
    width: 230px;
    height: 200px;
    position: relative;
    top: 0px;
  }
  .mid {
    grid-area: mid;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 sütun oluşturur */
    gap: 15px; /* Kartlar arasındaki boşluk */
    justify-items: center; /* Kartları yatayda ortalar */
  }
  ul {
    list-style-type: none; /* Noktaları kaldırır */
    padding: 0px;
    display: flex; /* Elemanları yatay hizalar */
    margin-left: 470px;
    margin-top: 15px;
  }

  .bilgi {
    text-decoration: none; /* Alt çizgiyi kaldırır */
    display: block; /* Tüm <li> elemanını kapsaması için blok seviye yapar */
  }

  li {
    color: white;
    width: 120px;
    height: 35px;
    border-radius: 14px;
    border: 2px solid gray;
    text-align: center;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bilgi:hover li {
    color: white;
  }

  .menuu {
    width: 225px;
    height: 300px;
    border-radius: 32%;
    border: 3px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
  }

  .beyaz {
    background-color: #fff;
    width: 300px;
    color: red;

    height: 100px;
    text-decoration: none; /* Alt çizgiyi kaldırır */
    display: block; /* Tüm <li> elemanını kapsaması için blok seviye yapar */
  }
}
.top {
  grid-area: top;
}
.mid {
  grid-area: mid;
}
.bot {
  grid-area: bot;
}
@media only screen and (max-width: 600px) {
  .grid-Kutu {
    grid-template-areas:
      "top top"
      "mid mid"
      "bot bot";
    grid-template-rows: 1.5fr 3fr 1fr; /* Üst, orta ve alt satırlar */
    gap: 15px; /* Hücreler arasındaki boşluk */
    height: 95vh; /* Yüksekliği ekranın tamamı kadar yap */
    background: red;
    .top {
      ul {
        margin-top: 10px;
        margin-left: 50px;
      }
    }
  }
  .menuu {
    background-color: red;
    width: 20px;
    height: 20px;
    position: fixed;
    top: 50%;
  }
}
